Flask>=2.3.5
Flask-Login==0.6.3
Flask-WTF==1.1.1
Flask-SQLAlchemy==3.0.4
Flask-Migrate==4.0.4
WTForms==3.0.1
Werkzeug==2.3.8
requests==2.31.0
python-dotenv==1.0.0
matplotlib==3.8.0
numpy==1.27.5
Pillow==10.0.0
textblob==0.18.0
nltk==3.8.1
apscheduler==3.10.5
email-validator==2.3.0
twilio==9.0.0
gunicorn==21.2.0
psycopg2-binary==2.9.9
